.center{
    text-align: center;
}

.flex{
    display: flex;
}

.footer-titles{
    font-size: 18px;
    color: white;
   margin: 30px 0px;
   font-weight: 700;
}

.footer-p-font-size{
    font-size: 14px;
}

.inverted-caret {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #000; /* You can change the color here */
  }
  